body {
    font-family: arial;
}

h1 {
    color: darkred;
    font-size: 22px;
    text-align: center;
}

dt {    
    color: palevioletred;
    background-color: beige;
    font-size: 20px;
}

dd {
    color: green;
    background-color: beige;
}